<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>textutils</title>
</head>
<body>

<h1>WELCOME TO THE TEXT ANALYZER. ENTER YOUR TEXT BELOW</h1>

<form action="/analyze" method="get">
   <textarea name="text" style="margin: 0px; width: 1029px; height: 112px;"></textarea>
   <br>
    <input  type="checkbox" name="removepunc">REMOVE PUNCTUATIONS.<br>
    <input  type="checkbox" name="fullcaps">UPPERCASE.<br>
    <input  type="checkbox" name="newlineremover">NEW LINE REMOVER.<br>
    <input  type="checkbox" name="extraspaceremover">EXTRASPACEREMOVER.<br>
    <input  type="checkbox" name="charcounter">CHARCOUNTER.<br>
    <button type="submit">Analyze text</button>




</form>
</body>
</html>